In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Musica.xlsx')

In [3]:
dfmusica=pd.DataFrame(columns=['IDMusica','Musica'])

In [4]:
dfmusica['Musica']=df['Value.Song']

In [5]:
dfmusica['IDMusica']=dfmusica.index+1

In [6]:
dfmusica['Lingua']=df['EnglishNonEnglish']

In [7]:
dfmusica['Classificacao']=df['Value.Pl.']

In [8]:
dfmusica.fillna('NULL',inplace=True)

In [9]:
dfmusica['OrdemAtuacao']=df['RunningOrder']

In [10]:
dfmusica = dfmusica.drop(1644)

In [11]:
dfmusica.fillna('NULL',inplace=True)

In [12]:
dfmusica['OrdemAtuacaoNormalizada']=df['Ropercent']

In [13]:
dfmusica['Pontuacao']=df['Value.Sc.']

In [14]:
dfmusica.drop(1645)

,IDMusica,Musica,Lingua,Classificacao,OrdemAtuacao,OrdemAtuacaoNormalizada,Pontuacao
0,1,De vogels van Holland,NotEnglish,NULL,1,0.071429,NaN
1,2,Das alte Karussell,NotEnglish,NULL,2,0.142857,NaN
2,3,Messieurs les noyés de la Seine,NotEnglish,NULL,3,0.214286,NaN
3,4,Im Wartesaal zum großen Glück,NotEnglish,NULL,4,0.285714,NaN
4,5,Le temps perdu,NotEnglish,NULL,5,0.357143,NaN
...,...,...,...,...,...,...,...
1639,1640,Voices,English,14.0,25,1.041667,109.0
1640,1641,Tout l'Univers,NotEnglish,3.0,11,0.458333,432.0
1641,1642,Birth Of A New Age,Mixed,23.0,23,0.958333,11.0
1642,1643,Shum,NotEnglish,5.0,19,0.791667,364.0
1643,1644,Embers,English,26.0,9,0.375000,0.0

In [17]:
dfmusica.fillna('NULL',inplace=True)

In [18]:
dfmusica.to_csv("DimMusicaSQL.csv", index=False)